@model Assignment_1_John_Linehan.Models.SendCard
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>BirthdayCard</title>
</head>
@{
    //Layout = null;
}

<!DOCTYPE html>

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<h1>Happy Birthday @Model.To</h1>
<h1>@Model.Message</h1>

<h1>From @Model.From</h1>
