
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: lightyellow;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Send a friend a birthday card</h2> 
        <div class="btn btn-success">
            @Html.ActionLink("Create Card", "SendCard")
        </div>
    </div>
</body>
</html>
